/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/* line-height: 1; */
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* font-family: 'RixYeoljeongdo_Regular'; */

/* page.css */

.header{
  height: 100px;
  background: #c8c8c8;
  display: flex;
  justify-content: space-between;
  padding: 38px;
  box-sizing: border-box;
  /* display: flex;는 밑으로 쭉 나열이 아니라 오른쪽으로 이동하기 */
  /* justify-content는 오른쪽 끝으로 쭉 밀기 */
  /* 텍스트를 오른쪽에 두고 맨 끝으로 밀어넣을 땐,
  display: flex;
  justify-content: space-between;
   */
}

.gnb-list{
  display: flex;
}

.gnb-item{
  padding-left: 50px;
}

.gnb-link{
  text-decoration: none;
  font-size: 13px;
  color: #000;
  font-family: 'RixYeoljeongdo_Regular';
  font-weight: 600;
  /* link 기본 스타일 없애려면, text-decoration: none; */
  /* font-weight는 굵기를 의미. 단위는 없음. */
}

.gnb-link:hover{
  color: #A841DB
}

.hamburger{
  display: none;
}

.section1{
	height:315px;
  background: #dcdcdc;
  text-align:center;
	padding-top:95px;
	box-sizing:border-box;
}

.section-heading{
	font-size:38px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}

.section-paragraph{
	font-family: 'Noto Sans KR', sans-serif;
	font-size:16px;
	width:700px;
	color:#787878;
	margin:20px auto 0;
	/* auto는 가운데 정렬 */
}

.section2{
  background: #dcdcdc;
}

.visual-content{
	width:340px;
	height:300px;
}

.visual-wrap{
	width:340px;
	height:300px;
	overflow:hidden;
}

.video-content{
	height:300px;
}

.group{
	width:1360px;
	display:flex;
	flex-wrap:wrap;
	margin: 0 auto;
}

.footer{
	height:285px;
	background:#141414;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	padding:100px 100px 0;
	box-sizing:border-box;
	display:flex;
	justify-content:space-between;
}

.sub-logo>.title{
	font-size:18px;
	font-weight:600;
	margin-bottom:20px;
}

.copyright{
  
}

/* 이미지가 2개씩 보이게 하는 레이아웃 . 이미지 영역에서 이미지가 한줄에 2개씩 보이게 하는 (2단) 레이아웃 */

@media screen and (max-width:1400px){
	.group{
		width:680px;
	}
}

/* 이미지가 1개씩 보이게 하는 레이아웃 . 이미지 영역에서 이미지가 한줄에 1개씩 보이게 하는 (2단) 레이아웃 */
@media screen and (max-width:700px){
	.header{
		padding:20px;
		height:70px;
		width:100%;
		position:fixed; /*position:fixed, absolute 가로길이가 자식요소에 맞춰짐*/
		top:0;
		left:0;
	}

	.gnb{
		position:absolute;
		top:70px;
		right:0;
		display:none;
		}

	.gnb.active{
		display:block;
	}

	.gnb-list{
		display:block;
		padding:50px 50px 50px 0;
		background:#fff;
	}

	.gnb-item{
		margin-bottom:10px;
	}

	.hamburger{
		display:block;
		background:none;
		border:0;
		width:30px;
		height:25px;
		padding:0;
	}

	.hamburger>img{
		width:30px;
		height:25px;
	}

	.section1{
		height:auto;
		padding:80px 0;
		margin-top:70px;
	}

	.section-heading{
		font-size:22px;
	}

	.section-paragraph{
		width:100%;
		padding:0 30px;
		box-sizing:border-box;
	}

	.group{
		width:340px;
	}

	.footer{
		height:auto;
		padding:50px 30px;
		display:block;
	}

	.sub-logo{
		margin-bottom:30px;
	}

}